@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/netdlogo.png" alt="Netd Logo">
    <h1 class="display-4">Welcome to my NETD Lab 5 Project!</h1>
    <p>Check out the Cars page for an interactive page where you can add and drop records.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
